.container{
	overflow: hidden;
	width: 1200px;
}

.container .left{
	width: 198px;
	height: 800px;
	border: 1px solid #ccc;
	float: left;
}
.t-tree-node-link span{
	vertical-align: middle;
	color: #333;
}
.t-tree-ct{
	margin-left: 32px;
}
.left .last_ct{
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}
.t-tree-node-el .t-tree-node-icon{
	    background-position: -12px 50%!important;
}
.t-tree-node-el .t-tree-arrow{
	    background-position: -65px 50%!important;
}
.t-tree-ct li .t-tree-node-icon {
    background-position: 5px 60%;
}

.t-tree-node-icon{
	
}
.container .right{
	height: 800px;
	border: 1px solid #ccc;
	border-left: none;
	width: 998px;
	float: left;
}
.container .right .title{
	height: 30px;
	line-height: 30px;
	background: #e5e5e5;
}
.container .right .title ul{
	margin-left: 10px;
}
.container .right .title ul li{
	float: left;
	padding: 0 6px;
	cursor: pointer;
}

.container .right .title ul li:hover{
	color: white;
	background: #38a3d5;
}
.container .right table th,.container .right table td{
	text-align: center;
}
.container .right table th,.container .right table td{
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-left:none ;
}
.container .right table .qx,.container .right table .xh{
	width: 30px;
}
.container .right table .xm{
	width: 100px;
}
.container .right table .bm{
	width: 200px;
}
.container .right table .zjm{
	width: 60px;
}
.container .right table input{
	margin: 0;
	vertical-align: middle;
}
#alert_box{
	width: 300px;
	height: 300px;
	position: fixed;
	top: 130px;
	left: 240px;
	border: 1px solid #ccc;
	background: white;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    z-index: 3;
    border-radius: 10px;
    display: none;
}
#alert_box .title,#chazhao .title,#warning .title{
    background: #38a3d5!important;
    font-weight: bold;
    color: #333;
    height: 34px;
    line-height: 34px;
    text-indent: 30px;
/*    cursor: move;*/
    min-width: auto;
}
#alert_box .title span,#chazhao .title span,#warning .title span{
	float: right;
	color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
#alert_box .title span:hover,#chazhao .title span:hover{
	color: black;
}
#alert_box .content{
	width: 280px;
	margin: 20px auto;
	overflow: hidden;
}
#alert_box .content .caozuo{
	height: 30px;
	line-height: 30px;
	background: url(../img/bgAll.png) repeat-x;
	background-position: 0 -664px;
}
#alert_box .content .caozuo ul li{
	float: left;
	padding: 0 6px;
	cursor: pointer;
}
#alert_box .content .caozuo ul li:hover{
	background: #38a3d5;
	color: white;
}
#alert_box .content .ct ul li{
	margin: 20px 0 0 10px;
	color: #333;
}
#alert_box .content .ct ul li span:first-child{
	color: red;
}
#alert_box .content .ct ul li span:first-child+span,#chazhao ul li span:first-child{
	width: 60px;
	text-align: right;
	display: inline-block;
}
#alert_box .content .ct ul li input{
	width: 170px;
	margin-left: 10px;
}
#alert_box .content .ct ul li select{
	width: 100px;
}
#alert_box .bot{
	margin-top: 20px;
	text-align: center;
}
#alert_box .bot input{
	width: 70px;
    height: 25px;
    font-size: 15px;
    line-height: 23px;
    margin: 0 15px;
    cursor: pointer;
    border: none;
    background: #38a3d5;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}
/*超找*/
#chazhao{
	width: 300px;
	height: 300px;
	position: fixed;
	top: 130px;
	left: 400px;
	border: 1px solid #ccc;
	background: white;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    z-index: 3;
    border-radius: 10px;
    display: none;
  	padding-bottom: 10px;
}
#chazhao ul li span{
	margin-right: 10px;
}
#chazhao ul li{
	margin-top: 10px;
}
#chazhao ul{
	width: 280px;
	margin: 20px auto;
	border: 1px solid #ccc;
	height: 200px;
	text-align: center;
}
#chazhao .bot{
	text-align: center;
}
#chazhao .bot input,#warning .bot input{
	width: 70px;
    height: 25px;
    font-size: 15px;
    line-height: 23px;
    margin: 0 15px;
    cursor: pointer;
    border: none;
    background: #38a3d5;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}
#warning{
	width: 300px;
	height: 100px;
	position: fixed;
	top: 130px;
	left: 400px;
	border: 1px solid #ccc;
	background: white;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    z-index: 3;
    border-radius: 10px;
    display: none;
  	padding-bottom: 10px;
}
#warning .text{
	text-align: center;
	font-size: 16px;
	color: red;
	font-weight: bold;
	margin-top: 10px;
}
#warning .bot{
	margin-top: 10px;
	text-align: center;
}
.page{
	width: 425px;
}
.page .page_box{
	float: right;
	margin-top: 10px;
}
.page ul{
	float: left;
	display: inline-block;
	height: 20px;
    line-height: 20px;
}
.page_box ul li{
	float: left;
    border: 1px solid #cccccc;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 6px;
    color: #666666;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
}
.page_right{
	height: 20px;
    line-height: 20px;
    color: #666666;
    margin-left: 10px;
    display: inline-block;
}
.page_right .text_input{
	width: 30px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #cccccc;
    position: relative;
    top: -1px;
}
.page_right .btn_input{
	width: 40px;
    height: 22px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    margin-left: 8px;
}
